<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is a home page</title>
    <link rel="stylesheet" href="/raaz.css">
    <style>

    </style>
</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <a href='/'>Raaz Website</a>
        </div>
        <ul class="navlist">
            <li><a href='#'>Home</a></li>
            <li><a href='/about'>About Us</a></li>
            <li><a href='#'>Contac us</a></li>
            <li><a href='#'>Services</a></li>
        </ul>
    </nav>
    <section class="firstSection">
        <div class="fistdiv">
            <h1>Hii this is my Friend</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima repellat harum cupiditate.</p>
        </div>

        <div class="fistdiv">
            <h1>Hii this is my Friend</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima repellat harum cupiditate.</p>
        </div>

        <div class="fistdiv">
            <h1>Hii this is my Friend</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima repellat harum cupiditate.</p>
        </div>
        <div class="fistdiv">
            <h1>Hii this is my Friend</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima repellat harum cupiditate.</p>
        </div>

        <div class="fistdiv">
            <h1>Hii this is my Friend</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima repellat harum cupiditate.</p>
        </div>

        <div class="fistdiv">
            <h1>Hii this is my Friend</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima repellat harum cupiditate.</p>
        </div>

    </section>

    <section class="endg">
        <div class="right">
            <h1>name Is Raaz</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto facere voluptates voluptatem illum quisquam nesciunt, deleniti officia hic veniam ea placeat, dolorem ullam error repellat aliquam mollitia quo. Illum aperiam officiis libero ipsam porro?</p>
        </div>

        <div class="left">
            <img src="raaz.img" alt="This is an image">
        </div>
    </section>
</body>

</html>