<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact US</title>
</head>

<body>

        <nav class="navbar">
        <div class="logo">
            <a href='/'>Raaz Website</a>
        </div>
        <ul class="navlist">
            <li><a href='#'>Home</a></li>
            <li><a href='/about'>About Us</a></li>
            <li><a href='/contact'>Contac us</a></li>
            <li><a href='#'>Services</a></li>
        </ul>
    </nav>
    <section class="formsec">
        <div class="formheader">
            <h1>Contack Us</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti nisi ipsa quis!</p>
        </div>
        <div class="formdiv">
            <form action="/req" method="post">
                <div class="formlist">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" placeholder="Please Enter your Name">
                </div>
                <div class="formlist">
                    <label for="num">Number</label>
                    <input type="number" id="num" name="num" placeholder="Please Enter your Number">
                </div>
                <input type="submit" value="Submit Now">
                <input type="reset" value="reset Now">
            </form>


        </div>

    </section>
</body>

</html>